 <%= index_display_header %>

<%= form_tag(url: "/posts", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<h1> SEARCHHHHH </h1>

<% if @posts.empty? %>

    <h2>No posts yet. Write a post <%= link_to "here", new_post_path%></h2>

<% else %>
  <%= render partial: "posts", locals: {posts: @posts} %>

<% end %>