<h1><%=@post.title%></h1>
<h2>By: <%=@post.user.username%> </h2>

<h3>Category: <%= @post.category.try(:name)%></h3>
<h4><%= link_to "Edit Post", edit_post_path(@post)%></h4>

<div><%= @post.content%></div>

<p><%= link_to 'See all comments', post_comments_path(@post)%></p>
<p><%= link_to 'Add a new comment', new_post_comment_path(@post)%></p>

<h4>Comments:</h4>
<% @post.comments.each do |c|%>
  <li><strong><%= c.user.username%></strong> says "<%= link_to c.content, post_comment_path(@post,c)%>" </li>
<% end %>

